<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <tx:annotation-driven/>

    <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource" name="driverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/spring_core_db"/>
        <property name="username" value="<username>"/>
        <property name="password" value="<password>"/>
    </bean>

    <bean class="org.springframework.orm.hibernate5.LocalSessionFactoryBean" name="localSessionFactoryBean">
        <property name="dataSource" ref="driverManagerDataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>Entity.Course</value>
                <value>Entity.Department</value>
                <value>Entity.Student</value>
                <value>Entity.StudentCourse</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL57Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean class="org.springframework.orm.hibernate5.HibernateTransactionManager" name="transactionManager">
        <property name="sessionFactory" ref="localSessionFactoryBean"/>
    </bean>

    <bean class="org.springframework.orm.hibernate5.HibernateTemplate" name="hibernateTemplate">
        <property name="sessionFactory" ref="localSessionFactoryBean"/>
        <property name="checkWriteOperations" value="false"/>
    </bean>

    <bean class="RepositoryImplementation.DepartmentRepositoryImplementation" name="departmentRepositoryImplementation">
        <constructor-arg ref="hibernateTemplate"/>
    </bean>

    <bean class="RepositoryImplementation.CourseRepositoryImplementation" name="courseRepositoryImplementation">
        <constructor-arg ref="hibernateTemplate"/>
    </bean>

    <bean class="RepositoryImplementation.StudentRepositoryImplementation" name="studentRepositoryImplementation">
        <constructor-arg ref="hibernateTemplate"/>
    </bean>

    <bean class="RepositoryImplementation.StudentCourseRepositoryImplementation" name="studentCourseRepositoryImplementation">
        <constructor-arg ref="hibernateTemplate"/>
    </bean>

</beans>